<dom-module id="custom-button">
  <template>
    <style>
      :host {
        display: inline-block;
      }
      button {
        padding: 0.25rem 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        cursor: pointer;
      }

      button:hover {
        border-color: #ddd;
      }
    </style>

    <button>[[value]]</button>
  </template>
</dom-module>

<script>
  class CustomButton extends Polymer.Element {
    static get is() { return 'custom-button'; }

    static get properties() {
      return {
        value: {
          type: String,
        },
      }
    }

    constructor() {
      super();
    }
  }
  customElements.define(CustomButton.is, CustomButton);
</script>
